ADMIN_CORS=https://medusa.eww-pew.com
AUTH_CORS=https://medusa.eww-pew.com,https://shop.eww-pew.com
BACKEND_URL=https://medusa.eww-pew.com
COOKIE_SECRET=4b9b986fc48902e40ac789ca8cf64f8990a1e5dbd620168dbfa5f863dbe713c4
DATABASE_URL=postgres://postgres:Z4bMFy5Cl2XNeF7BGfNDVSLveo7mSAe5DTzdvGNVVj2UcTXOL1XqYBCMOgXgUnPY@rwog408ogokgs08sg8w8csc8:5432/postgres
DISABLE_ADMIN=false
JWT_SECRET=037fb21846351379e4cdefdec7272f4cee34622e000460e917c4619260808972
PORT=9000
REDIS_URL=redis://default:tuV8VhsnsyuRH1Gprtmkn68t1wMw8lvg36SVbqc3mTGhRG9PfVWJzt5gOy3s9RjY@h8k004osc4k0w8w88s0ock88:6379/0

WORKER_MODE=shared

S3_ACCESS_KEY_ID=TJqp7imT8XoJMXnK
S3_BUCKET=medusa
S3_ENDPOINT=https://d8ookw0kg44c4c44owwossc8.eww-pew.com
S3_FILE_URL=https://d8ookw0kg44c4c44owwossc8.eww-pew.com/medusa
S3_REGION=us-east-1
S3_SECRET_ACCESS_KEY=by5r2nFwn04LJ6q4d3s29vH6HDkP3hUX
STORE_CORS=https://shop.eww-pew.com